# idea project files
.idea
*.iml

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
vendor

# Mac DS_Store Files
.DS_Store

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant

composer.lock
/yii*
